{% extends 'base.html' %}

{% block content %}
<div class="intro">
    {% if request.user.is_authenticated %}
    <h1>Welcome,&nbsp{{ request.user.first_name }}!</h1>
    <hr>
    <a href="" class="button">New Meeting</a>
    <a href="" class="button">Join Meeting</a>
    <a href="{% url 'logout' %}" class="button">Logout</a>
    {% else %}
    <h1>Welcome to Video Conferencing App!</h1>
    <!-- create a signup and signin button-->
    <hr>
    <a href="{% url 'login' %}" class="button">Sign In</a>
    <a href="{% url 'register' %}" class="button">Sign Up</a>
    {% endif %}
</div>
{% endblock %}